/* Mark: Custom Properties */
:root {
  --white: hsl(0 0% 100%);
  --stone-100: hsl(30 54% 90%);
  --stone-150: hsl(30 18% 87%);
  --stone-600: hsl(30 10% 34%);
  --stone-900: hsl(24 5% 18%);
  --brown-800: hsl(14 45% 36%);
  --rose-800: hsl(332 51% 32%);
  --rose-50: hsl(330 100% 98%);
}

/* MARK: Fonts */
@font-face {
  font-family: 'Outfit';
  src:
    url("/assets/fonts/outfit-vf.woff2"),
    url("/assets/fonts/outfiy-vf.woff"),
    url("/assets/fonts/outfiy-vf.ttf");
  font-display: swap;
}

@font-face {
  font-family: 'Young Serif';
  font-weight: 400;
  src:
    url("./assets/fonts/young-serif-regular.woff2"),
    url("./assets/fonts/young-serif-regular.woff"),
    url("./assets/fonts/young-serif-regular.ttf");
  font-display: swap;
}

/* MARK: CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: Outfit, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  font-size: 1rem;
}

p {
  text-wrap: pretty;
}

h1, h2, h3,
h4, h5, h6 {
  text-wrap: balance;
}

img {
  max-width: 100%;
  display: block;
}
